<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%- title %> </title>
</head>

<body>
	<section class="section">
		<div class="columns">
			<% if(indextext != '') { %>
				<div class="column">
					<div class="box">
						<div class="content">
							<%- indextext %> 
						</div>
					</div>
				</div>
			<% } %> 
			<div class="column">
				<% for(each in links){ %> 
					<div class="block">
						<div class="card">
							<div class="card-header">
								<div class="card-header-title">
									<%# This is the card header with link. %> 
									<a href="<%- each + '?bc=1' %> "> 
										<%# bc=1 enables breadcrumb for reader page. %> 
										<% if(info[each] && info[each].title){ %>
											<%- info[each].title %> 
										<% } else { %>
											<%- each.split('/').pop().replace('.html', '') %>
										<% } %>
									</a>
								</div>
								<div class="card-header-icon">
									<% if(info[each] && info[each].date){ 
										let date = new Date(info[each].date);
									%> 
									<p> <%- date.toISOString().slice(0,10) %>  </p>
									<% } %>
								</div>
							</div>
							<% if(info[each] && info[each].abstract ){ %>
								<div class="card-content">
									<div class="content">
										<p><%- info[each].abstract %> </p>
									</div>
								</div>
							<% } %>
						</div>
					</div>
				<% } %> 
			</div>
		</div>
	</section>

	<!-- Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-65DY5LVD18"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-65DY5LVD18');
	</script>
</body>