<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/assets/reader.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-65DY5LVD18"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-65DY5LVD18');
	</script>
	<%# Generate title for this page %>
		<%if(metadata.title){ %>
			<title>
				<%- metadata.title %>
			</title>
			<% }else{ %>
				<title>><%- path.slice(-1).join('').replace('.html', '' ) %>
				</title>
				<% } %>
</head>

<body>
	<section class="section">
		<div class="container is-max-desktop">
			<% if(breadcrumb==true){ %>
				<div id="breadcrumb" class="block" hidden="true">
					<nav class="breadcrumb" aria-label="breadcrumbs">
						<ul>
							<li><a href="/">Home</a></li>
							<% for(each in path){ %>
								<li><a href="<%- '/' + path.slice(0, path.length - each).join('/') %> ">
										<%- path[each].replace('html','') %>
								</a></li>
							<% } %>
						</ul>
					</nav>
				</div>
				<% } %>

				<% if(metadata.date){
					let date = new Date(metadata.date);
				%>
				<div class="block">
					<div class="tag is-light"><%- date.toISOString().slice(0,10) %></div>
				</div>
				<% } %>

				<div class="block">
					<div class="content">
						<%- body %>
					</div>
				</div>
				<!--Display permalink here-->
				<p> <a href="/assets/permalink/index.html?pl=<%- metadata.permalink %>">Permalink to this page</a> </p>
				<!--Comment area-->
				<div id="disqus_thread" hidden="true">
					<p><i>Disqus占位符</i></p>
					<p>如果Disqus一直未载入，您的网络可能无法访问到Disqus。</p>
				</div>

		</div>
	</section>

	<script>

		var url = new URL(window.location.href);
		if (url.searchParams.get('bc') == 1) {
			document.getElementById('breadcrumb').hidden = false;
			document.getElementById('disqus_thread').hidden = false;
			(function () {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
				var d = document, s = d.createElement('script');

				// IMPORTANT: Replace EXAMPLE with your forum shortname!
				s.src = 'https://yrr0r-blog.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		}

		// Disqus Config. 
		// Note that this function is defined but only loaded when the script is loaded.
		var disqus_config = function () {		    
			// Replace PAGE_IDENTIFIER with your page's unique identifier variable
			this.page.identifier = "<%- metadata.permalink %>"; 
		};
		
	</script>

</body>